name: Deploy
on: [push]

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        permissions:
            id-token: write # Needed for auth with Deno Deploy
            contents: read # Needed to clone the repository

        steps:
            - name: Clone repository
              uses: actions/checkout@v2
            
            - name: npm Install
              uses: actions/setup-node@v3
              with:
                node-version: 16
            - run: npm i

            # TODO: add a build step here

            - name: Upload to Deno Deploy
              uses: denoland/deployctl@v1
              with:
                  project: "ton"
                  import-map: "import_map.json"
                  entrypoint: "main.ts" # TODO: update entrypoint
